APP_NAME=Kangoo
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_PORT=8091
APP_URL=https://kangoo.sa
ASSET_URL=https://kangoo.sa

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=kangoo
DB_USERNAME=kangoo
DB_PASSWORD=change-this-kangoo-password
MYSQL_ROOT_PASSWORD=change-this-kangoo-root-password
MYSQL_PUBLIC_PORT=3306

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

RESTORE_DB_ON_BOOT=true
RESTORE_DB_IF_EMPTY=true
RESTORE_DB_FRESH=false
RESTORE_DB_DUMP=database/dumps/kangoo_sa.sql.gz

RUN_MIGRATIONS=false
RUN_SEEDERS=false
